h1{text-align: center;
    color: blue;
    font-size: 58px;
    font-family: "Permanent Marker", cursive;


}

h1{
    color: blue;
}

body{

    border: 1px solid black;
   padding: 20px;
    margin: 20px;
    
    
}
   
